{# contacto/templates/contacto/sobre_mi.html #}

{% extends 'base.html' %}

{% block title %}
Sobre Mí
{% endblock %}

{% block content %}
    <h2>Sobre Mí</h2>
    <p>Mi nombre es Maria Juliana Carrillo Plaza, tengo 12 años y estoy en 7º grado, empece este curso porque queria aprender cosas nuevas. Naci en España, Valencia pero vivo en Argentina. Mi color favorito es el azul y soy de River. Me gusta pintar y dibujar.
    carrillomariaj412@gmail.com </p>
    <!-- Puedes agregar más contenido aquí -->
{% endblock %}
