<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación Django{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'contacto/css/styles.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Entrega Final CoderHouse</h1>
            <!-- Barra de navegación -->
            <nav>
                <ul>
                    <li><a href="{% url 'pagina_principal' %}">Inicio</a></li>
                    <li><a href="{% url 'sobre_mi' %}">Sobre Mí</a></li>
                </ul>
            </nav>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                    <div class="user-info">
                        {% if user_profile and user_profile.avatar %}
                            <img src="{{ user_profile.avatar.url }}" alt="Foto de perfil" style="width: 70px; height: 70px; border-radius: 50%;">
                        {% else %}
                            <!-- Aquí puedes poner una imagen predeterminada o un texto alternativo -->
                            <p>No hay foto de perfil cargada.</p>
                        {% endif %}
                        <h3>Bienvenido, {{ user.username }}!</h3>
                    </div>
                    <a href="{% url 'user_profile' %}" class="button">Editar perfil</a>  
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Cerrar sesión</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="button">Iniciar sesión</a>
                    <a href="{% url 'registro' %}" class="button">Registrar</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        <!-- Aquí se incluirá el contenido específico de cada página -->
        {% endblock %}
    </main>
    <footer>
        <p>Maria Juliana Carrillo</p>
    </footer>
</body>
</html>
