<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éxito</title>
</head>
<body>
    <h1>¡Gracias! {{ nombre }}</h1>
    <p>Tu información ha sido enviada correctamente.</p>

    <p>Detalles de contacto:</p>
    <ul>
        <li>Nombre: {{ nombre }}</li>
        <li>Email: {{ email }}</li>
        <li>Teléfono: {{ telefono }}</li>
    </ul>
</body>
</html>
