/* Estilos generales */
body {
    background-color: paleturquoise;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #8B4513; /* Dark brown border */
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    flex-grow: 1; /* Hace que el nav ocupe el espacio disponible */
    text-align: center;
}

nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    display: flex; /* Muestra los elementos de la lista en línea */
    justify-content: center; /* Centra los elementos de la lista */
}

nav ul li {
    margin: 0 15px; /* Espacio entre los elementos de la lista */
}

nav ul li a {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    padding: 10px 15px;
    display: inline-block; /* Hace que el padding funcione correctamente */
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #8B4513; /* Dark brown background on hover */
    transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons .button, 
.auth-buttons button {
    background-color: teal;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.auth-buttons .button:hover,
.auth-buttons button:hover {
    background-color: #556b2f; /* Darker shade of olive */
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-top: 5px solid #8B4513; /* Dark brown border */
    position: fixed;
    width: 100%;
    bottom: 0;
}